doctype html
html lang="ja"
  head
    meta charset="utf-8"
    title
      | 株式会社新栄
    meta name="viewport" content="width=device-width"
    meta name="description" content="新栄は、木材と建築資材の販売を専門として、建築資材と建築用木材をお取り扱いしております。建築資材のトータルアドバイザーとしてお客様にご提案しています。お気軽に御来店下さい。"

    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css"
    link rel="stylesheet" href="stylesheets/reset.css"
    link rel="stylesheet" href="stylesheets/parts.css"
    link rel="stylesheet" href="stylesheets/layout.css"

  body
    #splash
      #splash-logo
        .bgextend.bgLRextend
          span.bgappear
            | 株式会社新栄

    .splashbg

    / 画面遷移用
    #wrapper
      header#header
        h1
          a href="#"
            span.bgextend.bgLRextendTrigger
              span.bgappearTrigger
                | 株式会社新栄
        nav#pc-nav
          ul
            li
              a href="#vision"
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | Vision
            li
              a href="#service"
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | Service
            li
              a href="#about"
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | About
            li
              a href="#faq"
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | Faq
            li
              a href="#contact"
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | Contact
      #top-main
        p.top-lead
          span.bgextend.bgLRextendTrigger
            span.bgappearTrigger
              | 共存共栄
          br
          span.bgextend.bgLRextendTrigger
            span.bgappearTrigger
              | 建築資材の
          br
          span.bgextend.bgLRextendTrigger
            span.bgappearTrigger
              | トータルアドバイザ

      #container
        main#main-area
          section#topics
            h2
              span.bgextend.bgLRextendTrigger
                span.bgappearTrigger
                  | 新着情報
            ul.slider
              li
                a href="#"
                  time datetime="2022-08-01"
                    | R04.08.01
                  | ウェブサイトをリニューアル致しました。
              li
                a href="#"
                  time datetime="2021-11-02"
                    | R04.07.01
                  | さくら商事様でセミナーを行いました。
              li
                a href="#"
                  time datetime="2021-11-03"
                    | R04.04.01
                  | 新入社員 入社式を行いました。

          section#vision.scroll-point
            .img.flipLeftTrigger
            .content.flipLeftTrigger
              h2
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | Vision
              p.vision-lead
                span.bgextend.bgLRextendTrigger
                  span.bgappearTrigger
                    | 工務店様とエンドユーザー様との
                    br
                    | 掛け橋として社会貢献する
              p
                | より良いモノをより速く、迅速にお客様にお届けする。
                br
                | 現場での打ち合わせや、段取りに素早く対応致します。
                br
                | 困ったなと思ったら直ぐにご連絡下さい。
                br
                | 新栄一同全員でお助けするのが当社の仕事へのこだわりです。
              p
                | 木材・建築に関する様々な商品や製品は膨大な数がございます。
                br
                | お客様のご要望にピッタリの商品や製品のご提案・ご提供を行える様
                br
                | スタッフが最新情報をお知らせ出来るように
                br
                | 資材の調達や管理に細心の注意と努力を払っております。
                br
                | 建築アドバイザーとして頼れるパートナーとしてご相談下さい。

          section#service.scroll-point
            h2
              span.bgextend.bgLRextendTrigger
                span.bgappearTrigger
                  | Service
            section.service-area.flex.flex-wrap.justify-between
              figure.img.flipLeftTrigger
                img src="images/lumber.jpg" alt=""
              .content.flipLeftTrigger
                .content-area
                  h3
                    span
                      | Lumber & Building Materials
                    | 木材・建材
                  p
                    | フローリング・破風板、テーブル用板材、筋交い・掛けなど豊富に取り扱っております。
                  .btn
                    a.btnlinestretches3 href="#"
                      span
                        | 詳細を見る

            section.service-area.flex.flex-wrap.justify-between
              figure.img.flipLeftTrigger
                img src="images/new_construction.jpg" alt=""
              .content.flipLeftTrigger
                .content-area
                  h3
                    span
                      | New construction materials, etc.
                    | 新建材・その他
                  p
                    | ジプトン・断熱材、エコボード、古材の一斉処分品など、お気軽にお問い合わせください。
                  .btn
                    a.btnlinestretches3 href="#"
                      span
                        | 詳細を見る

            section.service-area.flex.flex-wrap.justify-between
              figure.img.flipLeftTrigger
                img src="images/veneer.jpg" alt=""
              .content.flipLeftTrigger
                .content-area
                  h3
                    span
                      | Veneer & laminated wood
                    | ベニア・集成材
                  p
                    | コンパネ・ベニア板、集成材・構造用合板、各種集成材・化粧材など、ご来店をお待ちいたしております。
                  .btn
                    a.btnlinestretches3 href="#"
                      span
                        | 詳細を見る

          section#about.scroll-point style="margin-bottom: 30px;"
            h2
              span.bgextend.bgLRextendTrigger
                span.bgappearTrigger
                  | About
            ul.about-list.fadeUpTrigger
              li
                dl
                  dt 会社名
                  dd 株式会社新栄
              li
                dl
                  dt 代表取締役
                  dd 天野 憲治
              li
                dl
                  dt 所在地
                  dd 〒433-8104 浜松市北区東三方町504番地
              li
                dl
                  dt 資本金
                  dd 800万円
              li
                dl
                  dt 設立
                  dd 昭和58年7月1日
              li
                dl
                  dt 従業員数
                  dd 7名
              li
                dl
                  dt 資格等
                  dd
                    | 静岡県木材業者登録 登録番号1607
                    b4
                    | 県産材取扱業者認定 木材業者登録番号1607
                    br
                    | 合法木材供給業者認定 認定番号静岡県木連第1607号
                    br
                    | 浜松木材組合森林認証グループ 認証番号SGSHK-COC-008718
                    br
                    | 建設業許可 静岡県知事許可(般-22)第036154号
              li
                dl
                  dt 取引銀行
                  dd 浜松信用金庫、静岡銀行、名古屋銀行
              li
                dl
                  dt 取り扱い商品
                  dd 木材・建材
              li
                dl
                  dt 電話
                  dd
                    = link_to "053-438-2204", "tel: 053-438-2204"
              li
                dl
                  dt E-Mail
                  dd
                    = link_to "amano@shin-ei2009.jp", "mailto: amano@shin-ei2009.jp"

          section#about.scroll-point style="margin-bottom: 30px;"
            / h2
            /   span.bgextend.bgLRextendTrigger
            /     span.bgappearTrigger
                  / | MAP
            ul.about-list.fadeUpTrigger
              / iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26214.83982622819!2d137.73209861653652!3d34.784425986234474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601b206f8019d8a1%3A0x4e1a2490fe4245ea!2z44CSNDMzLTgxMDQg6Z2Z5bKh55yM5rWc5p2-5biC5YyX5Yy65p2x5LiJ5pa555S677yV77yQ77yU!5e0!3m2!1sja!2sjp!4v1657905076086!5m2!1sja!2sjp" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy"
              iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26214.83982622819!2d137.73209861653652!3d34.784425986234474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601b206f8019d8a1%3A0x4e1a2490fe4245ea!2z44CSNDMzLTgxMDQg6Z2Z5bKh55yM5rWc5p2-5biC5YyX5Yy65p2x5LiJ5pa555S677yV77yQ77yU!5e0!3m2!1sja!2sjp!4v1657905076086!5m2!1sja!2sjp" style="border:0;" width="900" height="450" loading="lazy"

          .fadeUpTrigger
            / .faq-bg
          section#faq.scroll-point
            h2
              span.bgextend.bgLRextendTrigger
                span.bgappearTrigger
                  | FAQ
            ul.accordion-area
              li.fadeUpTrigger
                section.open
                  h3.title
                    | お見積もりの目安を教えてください。
                  .box
                    p
                      | 内容によって変化いたしますのでまずはお問い合わせフォームよりご相談ください。
              li.fadeUpTrigger
                section
                  h3.title
                    | 地方ですが発注は可能でしょうか
                  .box
                    p
                      | 可能です。お気軽にご相談ください。
              li.fadeUpTrigger
                section
                  h3.title
                    | 木材や建材の相談をしたいのですが
                  .box
                    p
                      | お問い合わせフォームより内容などをご記入いただきご相談ください。

          section#contact.scroll-point
            h2
              span.bgextend.bgLRextendTrigger
                span.bgappearTrigger
                  | Contact
            form method="post" action="" enctype="multipart/form-data"
              ul.form-list.fadeUpTrigger
                / li
                /   dl
                /     dt
                /       label for="division"
                /         | 会社名・部署名
                /     dd
                /       input#division type="text" name="Division" size="60" value=""
                li
                  dl
                    dt
                      label for="name"
                        | ご芳名
                    dd
                      input#name type="text" name="Name" size="60" value=""
                li
                  dl
                    dt
                      label for="email"
                        | メールアドレス
                    dd
                      input#email type="email" name="E-mail" size="60" value=""
                li
                  dl
                    dt
                      label for="tel"
                        | 電話番号
                    dd
                      input#tel type="text" name="Tel" size="60" value=""
                li
                  dl
                    dt
                      label for="msg"
                        | お問い合わせ内容
                    dd
                      textarea#msg name="Message" cols="50" rows="5"
              .submit-btn.fadeUpTrigger
                input type="submit" name="submit" value="確認"

    footer#footer
      .openbtn
        span
        span
          | Menu
        span
      #g-nav
        #g-nav-list
          ul
            li
              a href="#vision"
                | Vision
            li
              a href="#service"
                | Service
            li
              a href="#about"
                | About
            li
              a href="#faq"
                | Faq
            li
              a href="#contact"
                | Contact
            li
              a href="tel:053-438-2204"
                | TEL: 053-438-2204
      p.footer-logo
        | 株式会社新栄
        br
        small
          | 〒433-8104 浜松市北区東三方町504番地
          br
          = link_to "Tel: 053-438-2204", "tel: 053-438-2204"
          br
          | Fax: 053-438-2205
          br
          span style="text-transform: none;"
            = link_to "E-Mail: amano@shin-ei2009.jp", "mailto: amano@shin-ei2009.jp"
      / small
      /   | © 株式会社新栄
      p#page-top
        a href="#"
          | Top

    script src="https://code.jquery.com/jquery-3.6.0.min.js"
    / 機能編 9-4-1 ニュースティッカー
    script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"
    / 機能編 9-1-5 スクロールをするとエリアの高さに合わせて線が伸びる
    script src="https://cdnjs.cloudflare.com/ajax/libs/scrollgress/2.0.0/scrollgress.min.js"
    script src="javascripts/7.js"
